<configuration>
  <appender name="VANLIG" class="ch.qos.logback.core.FileAppender">
    <file>../logs/hallo.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root>
    <appender-ref ref="VANLIG" />
  </root>
</configuration>